/* app global css */

/* body {
  animation: fadeIn 1s ease-in-out;
} */

/* #appCont {
  animation: blurIn 2s ease-in-out forwards, fadeIn 2s ease-in-out forwards;
} */

.fadeInAndEaseIn {
  animation: blurIn 2s ease-in-out forwards, fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    filter: blur(100px);
  }

  to {
    filter: blur(0);
  }
}

a {
  font-weight: 1000;
  text-decoration: none;
  color: cyan;
}

.gridBg {
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, rgb(32, 32, 32) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(32, 32, 32) 1px, transparent 1px);
}

/* Portrait orientation */
@media screen and (max-aspect-ratio: 1/1) {
  .hideOnPortrait {
    display: none !important;
  }
}

/* Landscape orientation */
@media screen and (min-aspect-ratio: 1/1) {
  .hideOnLandscape {
    display: none !important;
  }
}

.gradientCont {
  background: linear-gradient(100deg, rgb(0, 255, 255), fuchsia) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}