/* app global css */

/* body {
  animation: fadeIn 1s ease-in-out;
} */

#appCont {
  animation: blurIn 2s ease-in-out forwards, fadeIn 2s ease-in-out forwards;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-weight: 1000; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    filter: blur(100px);
  }

  to {
    filter: blur(0);
  }
}

a {
  font-weight: 1000;
  text-decoration: none;
  color: cyan;
}

.gridBg {
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, rgb(32, 32, 32) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(32, 32, 32) 1px, transparent 1px);
}